<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <% set_meta_tags site: 'TeachingJobs',
                     reverse: true,
                     separator: '|',
                     description: 'Find your next teaching position or hire qualified educators. TeachingJobs connects passionate teachers with outstanding educational institutions.',
                     keywords: 'teaching jobs, education jobs, teacher positions, school jobs, teaching careers',
                     og: {
                       site_name: 'TeachingJobs',
                       type: 'website',
                       url: request.original_url,
                       image: asset_url('og-image.avif')
                     },
                     twitter: {
                       card: 'summary_large_image',
                       site: '@teachingjobs'
                     } %>
    <%= display_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0d9488">
    <meta name="msapplication-TileColor" content="#0d9488">
    <meta name="theme-color" content="#ffffff">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>

  <body class="h-full">
    <%= render 'shared/flash' %>
    
    <div class="min-h-full flex flex-col">
      <%= render 'shared/navbar' %>

      <main class="flex-grow">
        <%= yield %>
      </main>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
